/AzureSessionBasedLearning/dotNetMessageSessionListener/bin
/AzureSessionBasedLearning/dotNetMessageSessionListener/obj
/AzureSessionBasedLearning/dotNetMessageSessionSender/bin
/AzureSessionBasedLearning/dotNetMessageSessionSender/obj
/AzureMessageSessionLearning
/.vs
